<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/swiper/css/swiper.css">

    <script src="./lib/swiper/js/swiper.js"></script>
    <script src="./lib/vue.js"></script>
    <style>
        .mycss {
            width: 800px;
            height: 400px;
            background-color: #bfa;
        }
    </style>
</head>

<body>
    <div id="box">
        <!-- 1. <swiper :key="dataList.length"> -->
        <!-- 2. <swiper v-if="dataList.length"> -->
        <swiper v-if="dataList.length" :myoptions="{loop:true}">
            <div class="swiper-slide" v-for="data in dataList">{{data}}</div>

            <!-- 左右箭头插槽 -->
            <!-- <template #arrow>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </template> -->

            <!-- 分页插槽 -->
            <!-- <template #pagination>
                <div class="swiper-pagination"></div>
            </template> -->
        </swiper>

    </div>

    <script>
        Vue.component('swiper', {
            props: ["myoptions"],
            template: `
                <div class="swiper-container mycss">
                    <div class="swiper-wrapper">
                        <slot></slot>
                    </div>
                    <slot name="arrow"></slot>
                    <slot name="pagination"></slot>
                </div>
            `,
            // updated()：只要swiper中的某个状态改变更新就会执行一次
            // updated() {
            //     new Swiper('.mycss', {
            //         navigation: {
            //             nextEl: '.swiper-button-next',
            //             prevEl: '.swiper-button-prev',
            //         },
            //         pagination: {
            //             el: '.swiper-pagination',
            //             clickable: true,
            //         },
            //     })
            // }

            mounted() {
                console.log('mounted...');
                let baseOptions = {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                }
                let myOption = {...baseOptions,...this.myOptions}
                new Swiper('.mycss', myOption)
            },

            destroyed() {
                console.log('destroyed...');
            }
        })

        let vm = new Vue({
            el: '#box',
            data: {
                dataList: []
            },
            mounted() {
                setTimeout(() => {
                    this.dataList = Array.of('aaa', 'bbb', 'ccc')
                    // resolve(Array.of('aaa', 'bbb', 'ccc'))
                }, 2000)
            }
        })
    </script>
</body>

</html>