<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
</head>
<body>
    
    <div id="box">
        <ul>
            <li v-for="(data,index) in dataList">
                {{ data }} —— {{ index }}
            </li>
        </ul>

        <ul>
            <li v-for="(value,key,index) of obj">
                {{ value }} —— {{ key }} —— {{ index }}
            </li>
        </ul>

        <template v-for="n in 10">{{ n }}</template>
    </div>

    <script>
        var vm = new Vue({
            el: "#box",
            data: {
                dataList: [1,2,3,4,5],
                obj: {
                    name: 'lzl',
                    age: 18,
                    sex: 'male'
                }
            }
        });
    </script>
</body>
</html>